



.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height) ;
    background-color: var(--first-color)
}

.header >.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo svg{
    width: 20%;
}
.menu{
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
   
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;  


}

.is-active{
    opacity: 1;
    pointer-events: visible;
}


.menu a{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
}
@media screen and (min-width: 1024px){
    .header{
        position: sticky;
        top:0;
        padding: 0.5rem;
        height: calc(var(--header-height) - 0.5rem);
    }
    .menu{
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .menu a{
        padding: 0 1rem;
    }
    .menu a:last-child{
        padding: 0;
    }
    .menu a:hover{
        background-color: transparent;
    }


}
